################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
*/.suo
*.user
*.orig
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
/packages